<main class="w-dvw h-dvh flex justify-center items-center bg-grey950 relative">
    <div class="card" *ngIf="!submitted">
        <div class="bg-gray-700 rounded-full p-4 w-max mb-5">
            <img src="../assets/images/icon-star.svg" alt="star-icon">
        </div>
        <h4 class="text-white font-bold text-[1.75rem]">How did we do?</h4>
        <p class="text-grey500">Please let us know how we did with your support request. All feedback is appreciated
            to help us improve our offering!</p>
        <div class="flex gap-6 mt-3 mb-5">
            <span *ngFor="let x of ratingList" class="badge bg-white"
                [ngClass]="{'bg-white text-grey900': x.selected, 'bg-gray-700 text-grey500':!x.selected}"
                (click)="selectBadge(x.label)"> {{x.label}}</span>
        </div>
        <button
            class="bg-orange500 hover:bg-white transition rounded-full text-grey950 uppercase font-bold py-3 tracking-wider"
            (click)="submit()">Submit</button>
    </div>
    <div class="card items-center text-center" *ngIf="submitted">
        <img src="../assets/images/illustration-thank-you.svg" alt="thank-you-image"
            class="h-28 w-40 aspect-square mt-2 mb-2">
        <div class="mt-2 mb-4 text-orange500 rounded-full bg-gray-700 px-5 py-1">
            <p class="mt-1">You selected {{selectedRating}} out of 5</p>
        </div>
        <h4 class="text-white font-bold text-[1.75rem]">Thank you!</h4>
        <p class="text-grey500">We appreciate you taking the time to give a rating. If you ever need more support,
            don’t hesitate to get in touch!</p>
    </div>
</main>
 
<footer class="absolute bottom-0 text-center w-full mb-5 text-white">
    <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Yogesan</a>.
  </div> 
</footer>